* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: #1a1a1a;
  min-height: 100vh;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.niconne-regular {
  font-family: "Niconne", cursive;
  font-weight: 20;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  /* background: #2d2d2d; */
  background: #000;
  border-bottom: 3px solid #d4af37;
  padding: 30px 20px;
  margin-bottom: 30px;
  text-align: center;
  /* position: relative; */
  font-family: "Niconne", cursive;
  color: #d4af37;
  display: flex;
  justify-content: center; /* Centers horizontally along the main axis */
  align-items: center;     /* Centers vertically along the cross axis */
}

header a {
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 100;
}

.here {
  color: #ff0000;
}

header ul {
  display: flex;
  list-style: none; /* Removes default bullets/numbers */
  gap: 20px; /* Adds space between items */
  padding: 0px 20px;
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('legs.jpg');
  background-size: cover;
  background-repeat: no-repeat; /* Prevents the image from tiling */
  background-position: center; /* Centers the image */
  opacity: 0.3; /* Set your desired opacity (0.0 to 1.0) */
  z-index: -1; /* Puts the pseudo-element behind the content */
}
main {
  margin: 48px;
}

main h1 {
  font-family: "Niconne", cursive;
  font-size: 48px;
}

main p {
  line-height: 1.5;
  font-size: 30px;
  font-weight: 300;
  padding: 20px 0px;
  color: #fff;
}
